
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    background-color: rgb(54, 0, 0);
}


ul {    
    list-style-type: none;
}

li {
    list-style-type: none;
}



.header {
    background-color: rgba(0, 0, 0, 0.479);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;

}

.nav__menu {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;

}

.box--logo {
    width: 80px;
    height: 80px;
    border-radius: 35px;
    display: flex;
}



.nav__menu--item {
    text-transform: uppercase;
    
}

.nav--menu--link {
    border-radius: 100px;
    padding: 8px 12px;

}

.nav--menu--link:hover {
    background-color: #eb1def59;
    transition: 0.5s;
}



.nav--toggle {
    color: #EB1DEF;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    display: none;
}

a {
    color: #EB1DEF ;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 3px 4px 3px black;


}

p {
    color: aliceblue;
    font-style: oblique;
    

}

h5, h2 {
    color: aliceblue;

}


/* INDEX   */
.main__subtitulo--1 {
    grid-area: ele1;
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(#840f86, rgba(204, 199, 204, 0.349));
}

.main__texto {
 grid-area: ele2;
 padding-top: 0px;
}

.video__config {
    width: 725px;
    height: 400px;

}

.video {
    
}

.video__1 {
    grid-area: ele3;
}

.video__2 {
    grid-area: ele4;
}


.footer {

    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;

}

.footer__iconos {

    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    

}

.footer__iconos--prop {
    width: 40px;
    height: 40px;

}

.footer__derechos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-shadow: 3px 4px 5px black;
    
}

 
/* FINALIZA INDEX  */

.main__formulario {
    color: aliceblue;
    margin-top: 5rem;
    margin-left: 2rem;
}

.main__label--colortext {
    color: black;
    margin: 1px;
}

.main__boton {
    color: black;
    margin-bottom: 30px;
}





.mapa {
    position: absolute;
    right: 150px;
    bottom: 320px;
}

.mapa__text {
    position: relative;
    left: 140px;

}

.main__boton {
    position: relative;
    left: 190px;
    
}   

.main__comment--area {
    margin: 0.5rem;
    display: flex;
}



  /* GRIDS */
  /* GRID INDEX */

  .main__index {
      display: grid;
      padding: 1rem;
      grid-column-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "ele1 ele1"
      "ele2 ele3"
      "ele2 ele3"
      "ele2 ele4"
      "ele2 ele4"
      ;
    
  }


  /* GRIDS PRODUCTS */

  .main__products {
    display: grid;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    grid-template-areas: 
    "ele1 ele1 ele1 ele1"
    "ele2 ele3 ele4 ele5"
    "ele2 ele3 ele4 ele5"
    "ele2 ele3 ele4 ele5"
    "ele6 ele7 ele8 ele9"
    "ele6 ele7 ele8 ele9"
    "ele6 ele7 ele8 ele9";

  }

  .galeria__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: solid 2px;
      border-radius: 5px;
  }


  .main__subtitulo--2 {
      align-self: center;
      text-align: center;
      grid-area: ele1;
      padding-left: 2rem;
      font-size: 20px;
  }


  .producto1 {
      grid-area: ele2;
      display: flex;
      position: relative;
      justify-content: center;
      
  }

  .producto2 {
      grid-area: ele3;
      display: flex;
      position: relative;
      justify-content: center;
  }

  .producto3 {
    grid-area: ele4;
    display: flex;
    position: relative;
    justify-content: center;
  }

  .producto4 {
      grid-area: ele5;
      display: flex;
      position: relative;
      justify-content: center;
  }

  .producto5 {
      grid-area: ele6;
      display: flex;
      position: relative;
      justify-content: center;
  }

  .producto6 {
      grid-area: ele7;
      display: flex;
      position: relative;
      justify-content: center;
  }

  .producto7 {
      grid-area: ele8;
      display: flex;
      position: relative;
      justify-content: center;
  }

  .producto8 {
      grid-area: ele9;
      display: flex;
      position: relative;
      justify-content: center;
  }

  .producto1--title2, .producto1--title3, .producto1--title4, .producto1--title5, .producto1--title6, .producto1--title7, .producto1--title8, .producto1--title9 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.733);
    padding: 0,8rem 5rem;
    border-radius: 3px;
    margin-top: 50px;
    
  }

  .products__button1 {
    position: absolute;
    bottom: 10px;
    right: 65px;
    font-size: 20px;
    font-weight: 550;
    border-radius: 5px;
    background-color: rgba(2, 0, 1, 0.993);
    color: palevioletred;
  }

  .products__button2 {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-size: 20px;
      font-weight: 550;
      border-radius: 5px;
      background-color: rgba(2, 0, 1, 0.993);
      color: palevioletred;
  }


  /* MEDIA QUERIES */

  @media screen and (max-width: 767px) {
      
    .video__config {
        width: 500px;
        height:500px;
    }


  }

  @media screen and (max-width: 410px) {

    .body {
          background-color: pink;
      }
    .header {
        
    }

    .main__index {
        display: grid;
        grid-template-columns: 1, 1fr;
        grid-template-areas: 
        "ele1"
        "ele2"
        "ele2"
        "ele3"
        "ele3"
        "ele4"
        "ele4";
    }

    .video__config {
        width: 300px;
        height: 300px;
    }

    .nav__menu {
        display: none;
    }

    .nav--toggle {
        display: block;
        margin-right: -200px;
    }

    .header__logo {
        width: 100px;
        height: 100px;
    }

    .footer__derechos {
        width: 200px;
        font-size: 16px;
        bottom: 30px;
        right: -50px;
    }


    .main__products {
        margin-left: 50px;
        display: grid;
        grid-template-columns: 1, 1fr;
        grid-auto-rows: 70px;
        grid-template-areas: 
        "ele1"
        "ele2"
        "ele2"
        "ele3"
        "ele3"
        "ele4"
        "ele4"
        "ele5"
        "ele5"
        "ele6"
        "ele6"
        "ele7"
        "ele7"
        "ele8"
        "ele8"
        "ele9"
        "ele9";
    }

    p {
        color: black;
    }




}

    