@import "../components/variables";
@import "../components/mediasqueries";
@import "../components/global";
@import '../components/header';
@import '../components/main';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  background-color: $bgColor;
}

a {
  text-decoration: none;
}
p {
  color: aliceblue;
  font-style: oblique;
}

h5, h2 {
  color: aliceblue;
}

