.main__title {
    align-self: center;
    text-align: center;
    grid-area: ele1;
    padding-top: 3rem;
  }

@mixin estilos($justifyContent) {
    display: flex;
    justify-content: $justifyContent;
}

$map: (
  rog: #EB1DEF
 );

 .main__index--asusrog--title--prop {
    color: map-get($map, rog);
 }
