  .header {
    @include estilos(space-around);
    background-color: $headerColor;
    height: 80px;


    .box--logo {
      display: flex;
      border-radius: 35px;
      transition: transform 0.2s;
    }
    
  
    .navbar {
      border: none;
      font-size: 30px;

      .container-fluid {
        .collapse {
          .navbar-nav {
            .nav-item {
              .nav-link {
                color: $nsColor;
              }
            }
          }
        }
      }
    }

  }
  
  
  
  
  